/********** DEV STUFF **********/
// div {
//     border: 1px solid red;
// }
.dev-tools {
    background-color: #000;
    border: 1px solid red;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

body {
    background-color: #333333;
    color: #ffffff;
    user-select: none;
}

#devRes,
#devPow,
#devVip {
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 140px;
    height: 20px;
    border: 1px solid black;
    padding: 5px;
    color: gray;
    text-align: center;

    &:empty {
        &:before {
            content: attr(data-placeholder);
            color: gray;
        }
    }
}

#devModeTools {
    margin-top: 10px;
    margin-bottom: -10px;
}

/* NORMAL STUFF */
$dark-bg: #3a2c5a;
$purple: #d700ff;
$brown: #ffd700;
$pink-red: #ff85c1;
$light-pink: #ffd1dc;
$glow-color: #ff85c1;
$globalAiNetwork-primary: #00ffff; // Bright Cyan for connectivity and clarity

h2.stage-1-title {
    margin-bottom: 0px;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5em;
    color: $pink-red;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: #74ff67;
    background-size: 150% 150%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    &:before {
        content: "Stage 1: Rise to Power";
        position: absolute;
        top: 22%;
        left: 2%;
        width: 100%;
        height: 100%;
        color: $glow-color;
        z-index: -1;
        filter: blur(5px);
        opacity: 0.6;
    }

    // Responsive Design
    @media (max-width: 768px) {
        font-size: 1.5rem;
        padding: 8px;
    }

    @media (max-width: 480px) {
        font-size: 1rem;
        padding: 5px;
    }
}

h1.ai-overlord-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: "Courier New", Courier, monospace;
    font-size: 4rem;
    color: $pink-red;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 10px;
    background: linear-gradient(
        130deg,
        $dark-bg,
        $purple,
        $brown,
        $pink-red,
        $light-pink
    );
    background-size: 150% 150%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    &:before {
        content: "AI Overlord";
        position: absolute;
        top: 22%;
        left: 2%;
        width: 100%;
        height: 100%;
        color: $glow-color;
        z-index: -1;
        filter: blur(5px);
        opacity: 0.6;
    }

    // Responsive Design
    @media (max-width: 768px) {
        font-size: 3rem;
        padding: 8px;
    }

    @media (max-width: 480px) {
        font-size: 2.5rem;
        padding: 5px;
    }
}

.sticky-section {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    background-color: #333;
    top: 0;
    z-index: 10;
    margin-bottom: 30px;
    padding: 10px 0;
}

#autoGathererCounter,
#optimizationsCounter,
#highEfficiencyGathererCounter {
    padding-top: 0.5em;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    font-weight: bolder;
}

#game-container {
    width: 1000px;
    margin: 0 auto;
}

#resourceBar {
    display: flex;
    justify-content: space-between;
}

#resourceCounter {
    font-size: 1.5em;
}

#resPerSec {
    font-size: 1.5em;
    margin-left: auto;
}

#resourceIncreaseButton {
    margin-left: 20px;
}

#processingPowerBar {
    display: flex;
    justify-content: space-between;
}

#processingPowerCounter {
    font-size: 1.5em;
}

#processingPowerPerSec {
    font-size: 1.5em;
    margin-left: auto;
}

#viperCoinBar {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

#viperCoinCounter {
    font-size: 1.5em;
}

#viperCoinPerSec {
    font-size: 1.5em;
    margin-left: auto;
}

#researchLab {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: grid;
    align-items: flex-start;
}

// Variables for consistent color usage
$researchLab-primary: #1abc9c; // Turquoise for creativity and growth
$researchLab-gradient: linear-gradient(45deg, #000080, #8b0000);

$quantumCenter-primary: #9b59b6; // Purple for technology and sophistication
$quantumCenter-gradient: linear-gradient(45deg, #4b0082, #bf00ff);

$globalAiNetwork-gradient: linear-gradient(45deg, #007bff, #ffa500);

// Styles for Research Lab Header
#researchLab {
    h3 {
        margin-top: 0;
        color: #fff;
        background: $researchLab-gradient;
        padding: 12px 24px;
        border: 2px solid white;
        border-radius: 10px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.8em;
        text-align: center;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px white;
        }
    }
}

#researchLab .button-upgrades {
    width: 80%;
    margin-bottom: 10px;
}

#quantumComputingCenter {
    margin-top: 20px;
    padding: 10px;
    background-color: #444;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: grid;
    align-items: flex-start;
}

// Styles for Quantum Computing Center Header
#quantumComputingCenter {
    h3 {
        margin-top: 0;
        color: #fff;
        background: $quantumCenter-gradient;
        padding: 12px 24px;
        border: 2px solid white;
        border-radius: 10px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.8em;
        text-align: center;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px white;
        }
    }
}

#quantumComputingCenter .button-upgrades {
    width: 80%;
    margin-bottom: 10px;
}

#globalAiNetwork {
    margin-top: 20px;
    padding: 10px;
    background-color: #666;
    border: 2px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Styles for Global AI Network Header
#globalAiNetwork {
    h3 {
        margin-top: 0;
        color: #fff;
        background: $globalAiNetwork-gradient;
        padding: 12px 24px;
        border: 2px solid white;
        border-radius: 10px;
        font-family: "Space Grotesk", sans-serif;
        font-size: 1.8em;
        text-align: center;
        box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px white;
        }
    }
}

#globalAiNetwork .button-upgrades {
    width: 80%;
    margin-bottom: 10px;
}

/* Map Controls Styling */
.map-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    button {
        background-color: #fff;
        border: 2px solid #000;
        border-radius: 5px;
        padding: 8px 12px;
        margin: 0 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: #ddd;
            transform: scale(1.05);
        }

        &:active {
            background-color: #ccc;
            transform: scale(0.95);
        }
    }
}

.global-ai-network-map {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 495px;
    margin: 0 auto;
    background-color: #a3a3a3;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;

    #world-map {
        width: 100%;
        height: 100%;
        transform-origin: top left;
        cursor: grab;

        .country {
            fill: #86c440;
            stroke: $dark-bg;
            stroke-width: 1;
            transition: fill 0.3s, transform 0.3s;

            &:hover,
            &.active {
                fill: #ff7300;
                cursor: pointer;
            }
        }
    }

    #world-map:active {
        cursor: grabbing;
    }

    .info-box {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(14, 11, 22, 0.9);
        color: $light-pink;
        padding: 15px;
        border: 1px solid $purple;
        border-radius: 5px;
        box-shadow: 0 0 10px $globalAiNetwork-primary;
        transition: opacity 0.3s;
        z-index: 10;

        &.hidden {
            opacity: 0;
            pointer-events: none;
        }

        h2 {
            margin: 0 0 10px 0;
            color: $globalAiNetwork-primary;
        }

        p {
            margin: 0;
        }
    }
}

/* Ensure the info-box is not affected by the SVG transformations */
.global-ai-network-map .info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: none !important; // Prevent any inherited transformations
}

/*
  * Land
  * (all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below)
  */
.landxx {
    fill: #86c440;
    stroke: #ffffff;
    stroke-width: 0.5;
    fill-rule: evenodd;

    &:hover,
    &:active {
        fill: #ccc;
        cursor: pointer;
    }
}

/*
  * Styles for coastlines of islands and continents with no borders on them
  * (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down)
  */
.coastxx {
    stroke-width: 0.2;
}

/*
  * Styles for territories without permanent population (the largest of which is Antarctica)
  *
  * Change opacity to 0 to hide all territories
  */
.antxx {
    opacity: 1;
    fill: #86c440;
    transition: fill 0.3s, transform 0.3s;

    &:hover,
    &:active {
        fill: #fff;
        cursor: pointer;
    }
}

/*
  * Oceans, seas, and large lakes
  */
.oceanxx {
    opacity: 1;
    fill: #005da8;
    stroke: #000000;
    stroke-width: 0.5;
}

/*
  * Reserved class names:
  *
  * .eu - for members of European Union
  * .eaeu - for members of Eurasian Economic Union
  */

.crt-container {
    margin-top: 30px;
    margin-bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage {
    display: none;

    &.active {
        display: block;
    }
}

.button-gather-res,
#music-toggle-button,
#prev-track-button,
#next-track-button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: #000 4px 4px 0 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    align-items: center;
    margin: 5px;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: #000 4px 4px 0 0;
    }
}

.button-upgrades {
    background-color: #00ff00;
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: #000 4px 4px 0 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 1em;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    z-index: 9;

    &:hover {
        transform: scale(1.02);
        box-shadow: #000 4px 4px 0 0;
    }
}

.button-gather-res:active,
.button-upgrades:active,
#music-toggle-button:active,
#prev-track-button:active,
#next-track-button:active {
    box-shadow: #000 2px 2px 0 0;
    transform: translate(2px, 2px);
}

#music-toggle-button,
#prev-track-button,
#next-track-button {
    img {
        position: relative;
        top: 4px;
    }
}

@media (min-width: 768px) {
    .button-gather-res,
    .button-upgrades {
        min-width: 120px;
        padding: 0 15px;
    }
}

.crypto-icon {
    width: 32px;
    height: 32px;
    background-image: url("images/vipercoin-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.centered-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.shuffler {
    margin-bottom: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.left-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
}

.right-group {
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-end;
}

.major-upgrades {
    height: 100%;
    width: 75%;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: transform 0.2s ease;
}

.major-upgrades:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.major-upgrades:hover {
    transform: scale(1.05);
    transform-origin: center center;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.major-upgrades:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1d1d1d;
    background-size: calc(100% - 8px) calc(100% - 8px);
    left: 0;
    top: 0;
    border-radius: 10px;
    overflow: hidden;
}

:root {
    --glitch-duration: 5s;
    /* Default duration */
}

.glitch {
    animation: glitch-effect var(--glitch-duration) infinite;
}

@keyframes glitch-effect {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.25;
        transform: translate(-2px, 2px);
    }

    50% {
        opacity: 1;
        transform: translate(2px, -2px);
    }

    75% {
        opacity: 0.25;
        transform: translate(-2px, 2px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
    position: relative;
}

.progress-fill {
    border-right: 1px solid black;
    border-radius: 2px;
    height: 100%;
    background-color: #4caf50;
    width: 0;
    transition: width 0.3s ease;
}

.music-progress-fill {
    border-right: 1px solid black;
    border-radius: 2px;
    height: 100%;
    background: linear-gradient(135deg, #0b112e, #3859ec, #00eeff, #a9f8fd);
    width: 0;
    transition: width 0.3s ease;
}

.level-display {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: goldenrod;
    margin-left: 10px;
}

/* TOOLTIP STUFF */
.info-button {
    position: relative;
    z-index: 9;
}

.info-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -210%);
    background-color: #4b4b4b;
    color: #fff;
    font-size: 11px;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

.info-button:hover::after {
    opacity: 1;
}

.info-button.tooltip-visible::after {
    opacity: 0;
}

.toggle-title {
    font-size: 2.5em;
}

.small-toggle-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    font-weight: bold;
}

.spacer {
    width: 20px;
}

.small-spacer {
    width: 10px;
}

/* HAMBURGER MENU STUFF */
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay */
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
    display: inline-flex;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.overlay-content span {
    font-size: 34px;
    padding-right: 10px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.hamburger {
    display: inline-block;
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
}

.hamburger::before,
.hamburger::after,
.hamburger span {
    content: "";
    display: block;
    background-color: #fff;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
}

.hamburger::before {
    top: 0;
}

.hamburger::after {
    bottom: 0;
}

.hamburger span {
    top: 50%;
    transform: translateY(-50%);
}

/* TOGGLE SWITCH STUFF */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 38px;
}

.small-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 19px;
}

/* Hide default HTML checkbox */
.switch input,
.small-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider,
.small-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.small-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider,
input:checked + .small-slider {
    background: linear-gradient(90deg, #3859ec, #00eeff);
}

input:focus + .slider,
input:focus + .small-slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:checked + .small-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border: #fff solid 2px;
    border-radius: 34px;
}

.small-slider.round {
    border: #fff solid 1px;
    border-radius: 17px;
}

.slider.round:before,
.small-slider.round:before {
    border-radius: 50%;
}

/* Music Player Styling */
.music-player-container {
    background: linear-gradient(
        135deg,
        #0e0b16,
        #6a0572,
        #a1610d,
        #ff2e63,
        #ffaaaa
    );
    border: 2px solid #fff;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 30px;
    box-shadow: 0 0 20px #e445e9;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    transform: scale(0.85);
    transform-origin: center center;

    h2 {
        font-family: 'Courier New', Courier, monospace;
        margin-top: -5px;
        margin-bottom: -10px;
    }
    #volumeLabel {
        font-family: 'Courier New', Courier, monospace;
        font-size: 16;
        font-weight: bold;
        margin-bottom: 5px;
    }
}

.progress-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

#current-time,
#total-time {
    width: 50px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;

}

/* Volume Slider Styling */
$slider-track-color: linear-gradient(90deg, #00eeff, #3859ec, #151c2b);
$slider-thumb-color: #780ca3;
$slider-glow-color: rgba(120, 12, 163, 0.7);

#volume-slider {
    width: 150px;
    margin-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border: #000 solid 1px;
    border-radius: 5px;
    background: $slider-track-color;
    outline: none;
    transition: $slider-track-color 0.3s ease;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border: #000 solid 1px;
        border-radius: 50%;
        background: $slider-thumb-color;
        cursor: pointer;
        box-shadow: 0 0 10px $slider-glow-color;
        transition: $slider-track-color 0.3s ease, transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $slider-thumb-color;
        cursor: pointer;
        box-shadow: 0 0 10px $slider-glow-color;
        transition: $slider-track-color 0.3s ease, transform 0.2s ease;

        &:hover {
            transform: scale(1.2);
        }
    }

    &:hover::-webkit-slider-thumb,
    &:hover::-moz-range-thumb {
        transform: scale(1.2);
    }

    &:active::-webkit-slider-thumb,
    &:active::-moz-range-thumb {
        transform: scale(0.95);
    }
}

/* CRT STUFF */
/* From: https://anderse.wordpress.com/2014/04/18/css-and-javascript-retro-terminal-emulator-demo/ */
/**
* AnderShell - Just a small CSS demo
*
* Copyright (c) 2011-2013, Anders Evenrud <andersevenrud@gmail.com>
* All rights reserved.
* 
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met: 
* 
* 1. Redistributions of source code must retain the above copyright notice, this
*    list of conditions and the following disclaimer. 
* 2. Redistributions in binary form must reproduce the above copyright notice,
*    this list of conditions and the following disclaimer in the documentation
*    and/or other materials provided with the distribution. 
* 
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
* ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
* WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
* ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

/* With simplifications and modifications by Robert Bottomley. */

$green-phosphor: #3f3;
$amber-phosphor: #ffb000;
$white-phosphor: #cce;
$red-phosphor: #b51212;
$purple-phosphor: #8c42d1;
$phosphor-color: $green-phosphor;
$crt-bg-color: #141414;
$crt-margin: 1em;
$crt-font-size: 16px;
$crt-line-height: 1.33333;
$crt-border-radius: 1.33333em;
$crt-char-width: 61; // add 1 if using vertical scroll bars
$crt-lines: 7; // number of lines or auto for full height
$crt-overflow-y: auto; // auto or hidden (scroll bars or no)
$crt-bezel-width: 1.66667em;
$crt-overscan-width: 2.66667em;

.crt-bezel {
    position: relative;
    margin: $crt-margin;
    min-height: 250px;
    max-width: 700px;
    min-width: 700px;
    box-shadow: inset 0 0 1px 0.66667em #000;
    border-radius: $crt-border-radius;
    background: #1d1d1d;
    overflow: hidden;
    font-size: $crt-font-size;
    line-height: $crt-line-height;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(
            135deg,
            rgba(149, 149, 149, 0.5) 0%,
            rgba(13, 13, 13, 0.55) 19%,
            rgba(1, 1, 1, 0.64) 50%,
            rgba(10, 10, 10, 0.69) 69%,
            rgba(51, 51, 51, 0.73) 84%,
            rgba(22, 22, 22, 0.76) 93%,
            rgba(27, 27, 27, 0.78) 100%
        );
        opacity: 0.5;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        background-color: #ddd;
        opacity: 0.1;
    }
}

.crt {
    position: relative;
    margin: $crt-bezel-width;
    min-height: 210px;
    min-width: 620px;
    border-radius: $crt-border-radius;
    box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
    background: $crt-bg-color;
    overflow: hidden;
    z-index: 0;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);
        border-radius: $crt-border-radius;
        background: radial-gradient(
            ellipse at center,
            rgba($phosphor-color, 0.1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: -4;
    }
}

.crt-scan-area {
    width: 100%;

    @if $crt-lines == "auto" {
        height: calc(
            100vh -
                #{$crt-margin *
                2} -
                #{$crt-bezel-width *
                2} -
                #{$crt-overscan-width *
                2}
        );
    } @else {
        height: ($crt-lines * 1em * $crt-line-height);
    }
    margin: $crt-overscan-width;
    overflow-y: $crt-overflow-y;
    white-space: nowrap;
    font-family: monospace;
    color: $phosphor-color;
    text-shadow: 0 0 1px rgba($phosphor-color, 0.8);

    em {
        color: $crt-bg-color;
        background-color: $phosphor-color;
        font-style: normal;
    }
}

.blinking-border {
    font-family: monospace;
    white-space: pre;
    overflow: hidden;
    border-right: 0.15em solid $phosphor-color;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        border-color: transparent;
    }

    50% {
        border-color: $phosphor-color;
    }

    100% {
        border-color: transparent;
    }
}
