/********** DEV STUFF **********/
.dev-tools {
  background-color: #000;
  border: 1px solid red;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

body {
  background-color: #333333;
  color: #ffffff; }

#devRes,
#devPow,
#devVip {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  width: 140px;
  height: 20px;
  border: 1px solid black;
  padding: 5px;
  color: gray;
  text-align: center; }
  #devRes:empty:before,
  #devPow:empty:before,
  #devVip:empty:before {
    content: attr(data-placeholder);
    color: gray; }

#devModeTools {
  margin-top: 10px;
  margin-bottom: -10px; }

/* NORMAL STUFF */
#autoGathererCounter,
#optimizationsCounter,
#highEfficiencyGathererCounter {
  padding-top: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  font-weight: bolder; }

#game-container {
  width: 1000px;
  margin: 0 auto; }

#gameTitle {
  font-size: 3em; }

#resourceBar {
  display: flex;
  justify-content: space-between; }

#resourceCounter {
  font-size: 1.5em; }

#resPerSec {
  font-size: 1.5em;
  margin-left: auto; }

#processingPowerBar {
  display: flex;
  justify-content: space-between; }

#processingPowerCounter {
  font-size: 1.5em; }

#processingPowerPerSec {
  font-size: 1.5em;
  margin-left: auto; }

#viperCoinBar {
  display: flex;
  justify-content: space-between; }

#viperCoinCounter {
  font-size: 1.5em; }

#viperCoinPerSec {
  font-size: 1.5em;
  margin-left: auto; }

#researchLab {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: grid;
  align-items: flex-start; }

#researchLab h3 {
  margin-top: 0;
  color: #fff;
  background: linear-gradient(45deg, #0047ab, #ff4500);
  padding: 12px 24px;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(26, 188, 156, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  #researchLab h3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(26, 188, 156, 0.4); }

#researchLab .button-upgrades {
  width: 80%;
  margin-bottom: 10px; }

#quantumComputingCenter {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
  display: flex;
  flex-direction: grid;
  align-items: flex-start; }

#quantumComputingCenter h3 {
  margin-top: 0;
  color: #fff;
  background: linear-gradient(45deg, #4b0082, #bf00ff);
  padding: 12px 24px;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(155, 89, 182, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  #quantumComputingCenter h3:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(155, 89, 182, 0.4); }

#quantumComputingCenter .button-upgrades {
  width: 80%;
  margin-bottom: 10px; }

.crt-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.stage {
  display: none; }
  .stage.active {
    display: block; }

.button-gather-res,
#music-toggle-button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-right: 20px;
  padding: 0 18pxw;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.button-upgrades {
  background-color: #00ff00;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.button-gather-res:active,
.button-upgrades:active,
#music-toggle-button:active {
  box-shadow: #000 2px 2px 0 0;
  transform: translate(2px, 2px); }

@media (min-width: 768px) {
  .button-gather-res,
  .button-upgrades,
  #music-toggle-button {
    min-width: 120px;
    padding: 0 15px; } }
.crypto-icon {
  width: 32px;
  height: 32px;
  background-image: url("images/vipercoin-icon.svg");
  background-size: cover;
  background-repeat: no-repeat; }

.centered-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; }

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.flex-column {
  display: flex;
  flex-direction: column;
  width: fit-content; }

.left-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-end; }

.right-group {
  display: flex;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-end; }

.major-upgrades {
  height: 100%;
  width: 100%;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.major-upgrades:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px; }

@keyframes glowing-button {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }
.major-upgrades:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  background-size: calc(100% - 8px) calc(100% - 8px);
  left: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden; }

:root {
  --glitch-duration: 5s;
  /* Default duration */ }

.glitch {
  animation: glitch-effect var(--glitch-duration) infinite; }

@keyframes glitch-effect {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.25;
    transform: translate(-2px, 2px); }
  50% {
    opacity: 1;
    transform: translate(2px, -2px); }
  75% {
    opacity: 0.25;
    transform: translate(-2px, 2px); }
  100% {
    opacity: 1;
    transform: translate(0); } }
.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
  position: relative; }

.progress-fill {
  height: 100%;
  background-color: #4caf50;
  /* Green color for progress */
  width: 0;
  /* Initial width */
  transition: width 0.3s ease;
  /* Smooth transition effect */ }

.level-display {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5em;
  color: goldenrod;
  margin-left: 10px; }

/* TOOLTIP STUFF */
.info-button {
  position: relative; }

.info-button::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -210%);
  background-color: #4b4b4b;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out; }

.info-button:hover::after {
  opacity: 1; }

.info-button.tooltip-visible::after {
  opacity: 0; }

.toggle-title {
  font-size: 3em; }

.spacer {
  width: 20px; }

/* HAMBURGER MENU STUFF */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: black;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */ }

/* Position the content inside the overlay */
.overlay-content {
  display: inline-flex;
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
  justify-content: center;
  align-items: center; }

.overlay-content span {
  font-size: 34px;
  padding-right: 10px; }

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */ }

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1; }

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer; }

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.hamburger {
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-top: 40px; }

.hamburger::before,
.hamburger::after,
.hamburger span {
  content: "";
  display: block;
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease; }

.hamburger::before {
  top: 0; }

.hamburger::after {
  bottom: 0; }

.hamburger span {
  top: 50%;
  transform: translateY(-50%); }

/* TOGGLE SWITCH STUFF */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 38px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

input:checked + .slider {
  background: linear-gradient(90deg, #3859ec, #00eeff); }

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border: #fff solid 2px;
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/* Music Player Styling */
.music-player-container {
  background: linear-gradient(135deg, #0E0B16, #6A0572, #a1610d, #FF2E63, #ffaaaa);
  border: 2px solid #fff;
  border-radius: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px 30px;
  box-shadow: 0 0 20px #e445e9;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%; }

/* Volume Slider Styling */
#volume-slider {
  width: 150px;
  margin-left: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border: #000 solid 1px;
  border-radius: 5px;
  background: linear-gradient(90deg, #00eeff, #3859ec, #151c2b);
  outline: none;
  transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease; }
  #volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: #000 solid 1px;
    border-radius: 50%;
    background: #780ca3;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(120, 12, 163, 0.7);
    transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease; }
    #volume-slider::-webkit-slider-thumb:hover {
      transform: scale(1.2); }
  #volume-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #780ca3;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(120, 12, 163, 0.7);
    transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease; }
    #volume-slider::-moz-range-thumb:hover {
      transform: scale(1.2); }
  #volume-slider:hover::-webkit-slider-thumb, #volume-slider:hover::-moz-range-thumb {
    transform: scale(1.2); }
  #volume-slider:active::-webkit-slider-thumb, #volume-slider:active::-moz-range-thumb {
    transform: scale(0.95); }

/* CRT STUFF */
/* From: https://anderse.wordpress.com/2014/04/18/css-and-javascript-retro-terminal-emulator-demo/ */
/**
* AnderShell - Just a small CSS demo
*
* Copyright (c) 2011-2013, Anders Evenrud <andersevenrud@gmail.com>
* All rights reserved.
* 
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met: 
* 
* 1. Redistributions of source code must retain the above copyright notice, this
*    list of conditions and the following disclaimer. 
* 2. Redistributions in binary form must reproduce the above copyright notice,
*    this list of conditions and the following disclaimer in the documentation
*    and/or other materials provided with the distribution. 
* 
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
* ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
* WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
* ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
/* With simplifications and modifications by Robert Bottomley. */
.crt-bezel {
  position: relative;
  margin: 1em;
  min-height: 250px;
  max-width: 800px;
  min-width: 800px;
  box-shadow: inset 0 0 1px 0.66667em #000;
  border-radius: 1.33333em;
  background: #1d1d1d;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.33333; }
  .crt-bezel:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(135deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
    opacity: 0.5; }
  .crt-bezel:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-color: #ddd;
    opacity: 0.1; }

.crt {
  position: relative;
  margin: 1.66667em;
  min-height: 210px;
  min-width: 720px;
  border-radius: 1.33333em;
  box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
  background: #141414;
  overflow: hidden;
  z-index: 0; }
  .crt:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);
    border-radius: 1.33333em;
    background: radial-gradient(ellipse at center, rgba(51, 255, 51, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: -4; }

.crt-scan-area {
  width: 100%;
  height: 9.33331em;
  margin: 2.66667em;
  overflow-y: auto;
  white-space: nowrap;
  font-family: monospace;
  color: #3f3;
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.8); }
  .crt-scan-area em {
    color: #141414;
    background-color: #3f3;
    font-style: normal; }

.blinking-border {
  font-family: monospace;
  white-space: pre;
  overflow: hidden;
  border-right: 0.15em solid #3f3;
  animation: blink 1s infinite;
  /* Add a blinking cursor effect */ }

@keyframes blink {
  0% {
    border-color: transparent; }
  50% {
    border-color: #3f3; }
  100% {
    border-color: transparent; } }

/*# sourceMappingURL=style.css.map */
