/********** DEV STUFF **********/
.dev-tools {
  background-color: #000;
  border: 1px solid red;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

body {
  background-color: #333333;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.dev-button {
  background: linear-gradient(135deg, #6a0572, #a1610d);
  border: 2px solid white;
  border-radius: 8px;
  color: #fff;
  width: 150px;
  margin: 1px;
  padding: 6px 12px;
  font-size: 1rem;
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}
.dev-button:hover:not(:disabled) {
  background: linear-gradient(135deg, #a1610d, #6a0572);
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
.dev-button:active:not(:disabled) {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.dev-button:focus:not(:disabled) {
  outline: none;
  box-shadow: 0 0 0 3px rgba(106, 5, 114, 0.5);
}
.dev-button:disabled {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
  box-shadow: none;
  transform: translateY(0);
}

#devModeTools {
  margin-top: 10px;
  margin-bottom: -10px;
}

/* NORMAL STUFF */
h2.stage-1-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  color: #ff85c1;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: #74ff67;
  background-size: 150% 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
h2.stage-1-title:before {
  content: "Stage 1: Rise to Power";
  position: absolute;
  top: 22%;
  left: 2%;
  width: 100%;
  height: 100%;
  color: #ff85c1;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.6;
}
@media (max-width: 768px) {
  h2.stage-1-title {
    font-size: 1.5rem;
    padding: 8px;
  }
}
@media (max-width: 480px) {
  h2.stage-1-title {
    font-size: 1rem;
    padding: 5px;
  }
}

h2.stage-2-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5em;
  color: #ff85c1;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: #ffea28;
  background-size: 150% 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
h2.stage-2-title:before {
  content: "Stage 2: Conquer the World";
  position: absolute;
  top: 22%;
  left: 2%;
  width: 100%;
  height: 100%;
  color: #ff85c1;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.6;
}
@media (max-width: 768px) {
  h2.stage-2-title {
    font-size: 1.5rem;
    padding: 8px;
  }
}
@media (max-width: 480px) {
  h2.stage-2-title {
    font-size: 1rem;
    padding: 5px;
  }
}

h1.ai-overlord-title {
  margin-top: -8px;
  margin-bottom: -23px;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  color: #ff85c1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 10px;
  background: linear-gradient(130deg, #7a5cbe, #d700ff, #ffd700, #ff85c1, #ffd1dc);
  background-size: 150% 150%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 15;
}
h1.ai-overlord-title:before {
  content: "AI Overlord";
  position: absolute;
  top: 22%;
  left: 2%;
  width: 100%;
  height: 100%;
  color: #ff85c1;
  z-index: 14;
  filter: blur(5px);
  opacity: 0.6;
}
@media (max-width: 768px) {
  h1.ai-overlord-title {
    font-size: 3rem;
    padding: 8px;
  }
}
@media (max-width: 480px) {
  h1.ai-overlord-title {
    font-size: 2.5rem;
    padding: 5px;
  }
}

.sticky-section { /* For Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  width: 1060px;
  padding: 20px;
  background-color: #2a2a2a;
  margin: 30px auto;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}

#autoGathererCounter,
#optimizationsCounter,
#highEfficiencyGathererCounter {
  margin-left: 10px;
  padding-top: 0.5em;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  font-weight: bolder;
}

#game-container {
  width: 1100px;
  margin: 0 auto;
}

#resourceBar,
#resourceBar-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#resourceCounter,
#resourceCounter-2 {
  font-size: 1.5em;
}

#resPerSec,
#resPerSec-2 {
  font-size: 1.5em;
  margin-left: auto;
}

#processingPowerBar,
#processingPowerBar-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#processingPowerCounter,
#processingPowerCounter-2 {
  font-size: 1.5em;
}

#processingPowerPerSec,
#processingPowerPerSec-2 {
  font-size: 1.5em;
  margin-left: auto;
}

#viperCoinBar,
#viperCoinBar-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#viperCoinCounter,
#viperCoinCounter-2 {
  font-size: 1.5em;
}

#viperCoinPerSec,
#viperCoinPerSec-2 {
  font-size: 1.5em;
  margin-left: auto;
}

#viper-coin-counter-icon-row,
#viper-coin-counter-icon-row-2 {
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

#toggle-tooltips-row {
  transform: scale(0.85);
  min-width: 420px;
  max-width: 420px;
}

#toggle-glitch-row {
  transform: scale(0.85);
  min-width: 420px;
  max-width: 420px;
}

#title-row {
  align-items: center;
  justify-content: center;
}

#autoGathererButton {
  margin-top: 10px;
}

#researchLabImage,
#quantumComputingCenterImage {
  border-radius: 10px;
  border: 2px solid #000;
  display: none;
  margin-top: 20px;
}

#quantumComputingCenterImage {
  margin-bottom: 20px;
}

#stage1 {
  width: 99.9%;
}

#stageBar,
#stageBar-2 {
  margin-top: -20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

#stage-timer,
#stage-timer-2 {
  font-size: 3em;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 5px;
}

#researchLab {
  margin-top: 20px;
  padding: 10px;
  height: 390px;
  background-color: #222;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: grid;
  align-items: flex-start;
}

#researchLab h3 {
  margin-top: 0;
  color: #fff;
  background: linear-gradient(45deg, #000080, #8b0000);
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#researchLab h3:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px white;
}

#researchLab .button-upgrades {
  width: 80%;
  margin-bottom: 10px;
}

#quantumComputingCenter {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  height: 390px;
  background-color: #444;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: grid;
  align-items: flex-start;
}

#quantumComputingCenter h3 {
  margin-top: 0;
  color: #fff;
  background: linear-gradient(45deg, #4b0082, #bf00ff);
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#quantumComputingCenter h3:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px white;
}

#quantumComputingCenter .button-upgrades {
  width: 80%;
  margin-bottom: 10px;
}

#globalAiNetwork,
#globalAiNetwork-real {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #666;
  border: 2px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#globalAiNetwork,
#globalAiNetwork-real {
  justify-content: center;
}
#globalAiNetwork h3,
#globalAiNetwork-real h3 {
  margin-top: 0;
  color: #fff;
  background: linear-gradient(45deg, #007bff, #ffa500);
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 10px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8em;
  text-align: center;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#globalAiNetwork h3:hover,
#globalAiNetwork-real h3:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px white;
}

#globalAiNetwork .button-upgrades,
#globalAiNetwork-real .button-upgrades {
  width: 80%;
  margin-bottom: 10px;
}

/* Map Controls Styling */
.map-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.map-controls button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.map-controls button:hover {
  background-color: #ddd;
  transform: scale(1.05);
}
.map-controls button:active {
  background-color: #ccc;
  transform: scale(0.95);
}

.global-ai-network-map,
.global-ai-network-map-fake {
  position: relative;
  height: 535px;
  background-color: #a3a3a3;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
}
.global-ai-network-map #world-map,
.global-ai-network-map-fake #world-map {
  width: 100%;
  height: 100%;
  transform-origin: top left;
  cursor: grab;
}
.global-ai-network-map #world-map .country,
.global-ai-network-map-fake #world-map .country {
  fill: #86c440;
  stroke: #3c1469;
  stroke-width: 0.5;
  transition: fill 0.3s, transform 0.3s;
}
.global-ai-network-map #world-map .country:hover, .global-ai-network-map #world-map .country.active,
.global-ai-network-map-fake #world-map .country:hover,
.global-ai-network-map-fake #world-map .country.active {
  fill: #ff7300;
  cursor: pointer;
}
.global-ai-network-map #world-map:active,
.global-ai-network-map-fake #world-map:active {
  cursor: grabbing;
}
.global-ai-network-map .info-box,
.global-ai-network-map-fake .info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(14, 11, 22, 0.9);
  color: #ffd1dc;
  padding: 15px;
  border: 1px solid #d700ff;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ffff;
  transition: opacity 0.3s;
  z-index: 10;
  pointer-events: auto;
}
.global-ai-network-map .info-box.hidden,
.global-ai-network-map-fake .info-box.hidden {
  opacity: 0;
  pointer-events: none;
}
.global-ai-network-map .info-box h2,
.global-ai-network-map-fake .info-box h2 {
  margin: 0 0 10px 0;
  color: #00ffff;
}
.global-ai-network-map .info-box p,
.global-ai-network-map-fake .info-box p {
  margin: 0;
}

/* Ensure the info-box is not affected by the SVG transformations */
.global-ai-network-map .info-box {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: none !important;
}

.map-overlay {
  position: absolute;
  top: -10px;
  left: -65px;
  width: 1196px;
  height: 550px;
  pointer-events: none;
}

/*
  * Land
  * (all land, as opposed to water, should belong to this class; in order to modify the coastline for land pieces with no borders on them a special class "coastxx" has been added below)
  */
.landxx {
  fill: #86c440;
  stroke: #ffffff;
  stroke-width: 0.5;
  fill-rule: evenodd;
}
.landxx:hover, .landxx:active {
  fill: #ccc;
  cursor: pointer;
}

/*
  * Styles for coastlines of islands and continents with no borders on them
  * (all of them should also belong to the class "landxx" - to allow for all land to be modified at once by refining "landxx" style's definition further down)
  */
.coastxx {
  stroke-width: 0.2;
}

/*
  * Styles for territories without permanent population (the largest of which is Antarctica)
  *
  * Change opacity to 0 to hide all territories
  */
.antxx {
  opacity: 1;
  fill: #86c440;
  transition: fill 0.3s, transform 0.3s;
}
.antxx:hover, .antxx:active {
  fill: #fff;
  cursor: pointer;
}

/*
  * Oceans, seas, and large lakes
  */
.oceanxx {
  opacity: 1;
  fill: #005da8;
  stroke: #000000;
  stroke-width: 0.5;
}

/*
  * Reserved class names:
  *
  * .eu - for members of European Union
  * .eaeu - for members of Eurasian Economic Union
  */
.crt-container {
  margin-top: 30px;
  margin-bottom: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage {
  display: none;
}
.stage.active {
  display: block;
}

.button-gather-res,
#resourceIncreaseButton,
#music-toggle-button,
#prev-track-button,
#next-track-button {
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  margin: 10px;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.button-gather-res:hover,
#resourceIncreaseButton:hover,
#music-toggle-button:hover,
#prev-track-button:hover,
#next-track-button:hover {
  transform: scale(1.05);
  box-shadow: #000 4px 4px 0 0;
}

.button-gather-res {
  margin-left: 0px;
}

.button-upgrades {
  background-color: #00ff00;
  border: 2px solid #000;
  border-radius: 30px;
  box-shadow: #000 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 0.98em;
  padding: 0 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  z-index: 9;
}
.button-upgrades:hover {
  transform: scale(1.02);
  box-shadow: #000 4px 4px 0 0;
}

.button-gather-res:active,
.button-upgrades:active,
#music-toggle-button:active,
#prev-track-button:active,
#next-track-button:active {
  box-shadow: #000 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#music-toggle-button img,
#prev-track-button img,
#next-track-button img {
  position: relative;
  top: 4px;
}

@media (min-width: 768px) {
  .button-gather-res,
  .button-upgrades {
    min-width: 120px;
    padding: 0 15px;
  }
}
.crypto-icon {
  width: 30px;
  height: 30px;
  background-image: url("images/vipercoin-icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.centered-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.shuffler {
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}

.left-group {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  justify-content: center;
}

.right-group {
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: flex-start;
  justify-content: flex-end;
}

.major-upgrades {
  height: 100%;
  width: 75%;
  margin-right: 20px;
  padding: 0.6em 2em;
  border: 3px solid white;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.2s ease;
}

.major-upgrades:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.major-upgrades:hover {
  transform: scale(1.05);
  transform-origin: center center;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.major-upgrades:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d1d;
  background-size: calc(100% - 8px) calc(100% - 8px);
  left: 0;
  top: 0;
  border-radius: 10px;
  overflow: hidden;
}

:root {
  --glitch-duration: 5s;
  /* Default duration */
}

.glitch {
  animation: glitch-effect var(--glitch-duration) infinite;
}

@keyframes glitch-effect {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
    transform: translate(-2px, 2px);
  }
  50% {
    opacity: 1;
    transform: translate(2px, -2px);
  }
  75% {
    opacity: 0.25;
    transform: translate(-2px, 2px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.progress-bar {
  width: 100%;
  height: 16px;
  background-color: #ddd;
  border: 2px solid black;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-fill,
.music-progress-fill {
  border-right: 2px solid black;
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.3s ease;
}

.music-progress-fill {
  background: linear-gradient(135deg, #0b112e, #3859ec, #00eeff);
}

.level-display {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  color: goldenrod;
  margin-left: 10px;
}

/* TOOLTIP STUFF */
.info-button {
  position: relative;
  z-index: 9;
}

.info-button::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -210%);
  background-color: #4b4b4b;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.info-button:hover::after {
  opacity: 1;
}

.info-button.tooltip-visible::after {
  opacity: 0;
}

.toggle-title {
  font-size: 2.5em;
}

.small-toggle-title {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.25em;
  font-weight: bold;
}

.spacer {
  width: 20px;
}

.small-spacer {
  width: 10px;
}

.big-spacer {
  width: 300px;
}

/* HAMBURGER MENU STUFF */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 16;
  left: 0;
  top: 0;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content span {
  font-size: 34px;
  padding-right: 10px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.hamburger {
  display: inline-block;
  width: 40px;
  height: 30px;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  z-index: 15;
}

.hamburger::before,
.hamburger::after,
.hamburger span {
  content: "";
  display: block;
  background-color: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.hamburger::before {
  top: 0;
}

.hamburger::after {
  bottom: 0;
}

.hamburger span {
  top: 50%;
  transform: translateY(-50%);
}

/* TOGGLE SWITCH STUFF */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 38px;
}

.small-switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input,
.small-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider,
.small-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.small-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider,
input:checked + .small-slider {
  background: linear-gradient(90deg, #3859ec, #00eeff);
}

input:focus + .slider,
input:focus + .small-slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .small-slider:before {
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border: #fff solid 2px;
  border-radius: 34px;
}

.small-slider.round {
  border: #fff solid 1px;
  border-radius: 17px;
}

.slider.round:before,
.small-slider.round:before {
  border-radius: 50%;
}

/* Music Player Styling */
.music-player-container {
  background: linear-gradient(135deg, #0e0b16, #6a0572, #a1610d, #ff2e63, #ffaaaa);
  border: 2px solid #fff;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  box-shadow: 0 0 20px #e445e9;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  transform: scale(0.85);
  transform-origin: center center;
}
.music-player-container h2 {
  font-family: "Courier New", Courier, monospace;
  margin-top: -5px;
  margin-bottom: -10px;
}
.music-player-container #volumeLabel {
  font-family: "Courier New", Courier, monospace;
  font-size: 16;
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#current-time,
#total-time {
  width: auto;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
}

/* Volume Slider Styling */
#volume-slider {
  width: 99%;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  height: 8px;
  border: #000 solid 1px;
  border-radius: 5px;
  background: linear-gradient(90deg, #00eeff, #3859ec, #151c2b);
  outline: none;
  transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease;
}
#volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: #000 solid 1px;
  border-radius: 50%;
  background: #780ca3;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(120, 12, 163, 0.7);
  -webkit-transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease;
  transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease;
}
#volume-slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}
#volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #780ca3;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(120, 12, 163, 0.7);
  -moz-transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease;
  transition: linear-gradient(90deg, #00eeff, #3859ec, #151c2b) 0.3s ease, transform 0.2s ease;
}
#volume-slider::-moz-range-thumb:hover {
  transform: scale(1.2);
}
#volume-slider:hover::-webkit-slider-thumb, #volume-slider:hover::-moz-range-thumb {
  transform: scale(1.2);
}
#volume-slider:active::-webkit-slider-thumb, #volume-slider:active::-moz-range-thumb {
  transform: scale(0.95);
}

/* CRT STUFF */
/* From: https://anderse.wordpress.com/2014/04/18/css-and-javascript-retro-terminal-emulator-demo/ */
/**
* AnderShell - Just a small CSS demo
*
* Copyright (c) 2011-2013, Anders Evenrud <andersevenrud@gmail.com>
* All rights reserved.
* 
* Redistribution and use in source and binary forms, with or without
* modification, are permitted provided that the following conditions are met: 
* 
* 1. Redistributions of source code must retain the above copyright notice, this
*    list of conditions and the following disclaimer. 
* 2. Redistributions in binary form must reproduce the above copyright notice,
*    this list of conditions and the following disclaimer in the documentation
*    and/or other materials provided with the distribution. 
* 
* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
* ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
* WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
* DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
* ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
/* With simplifications and modifications by Robert Bottomley. */
.crt-bezel {
  position: relative;
  margin: 1em;
  min-height: 250px;
  max-width: 1100px;
  min-width: 700px;
  box-shadow: inset 0 0 1px 0.66667em #000;
  border-radius: 1.33333em;
  background: #1d1d1d;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.33333;
}
.crt-bezel:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(135deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(10, 10, 10, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
  opacity: 0.5;
}
.crt-bezel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #ddd;
  opacity: 0.1;
}

.crt {
  position: relative;
  margin: 1.66667em;
  min-height: 210px;
  min-width: 620px;
  border-radius: 1.33333em;
  box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
  background: #141414;
  overflow: hidden;
  z-index: 0;
}
.crt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);
  border-radius: 1.33333em;
  background: radial-gradient(ellipse at center, rgba(51, 255, 51, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -4;
}

.crt-scan-area {
  width: 100%;
  height: 9.33331em;
  margin: 2.66667em;
  overflow-y: auto;
  white-space: nowrap;
  font-family: monospace;
  color: #3f3;
  text-shadow: 0 0 1px rgba(51, 255, 51, 0.8);
}
.crt-scan-area em {
  color: #141414;
  background-color: #3f3;
  font-style: normal;
}

.blinking-border {
  font-family: monospace;
  white-space: pre;
  overflow: hidden;
  border-right: 0.15em solid #3f3;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #3f3;
  }
  100% {
    border-color: transparent;
  }
}
.stage-1-table {
  table-layout: auto;
  width: auto;
  max-width: none;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: "Space Grotesk", sans-serif;
  background-color: #0e0b16;
  border: 2px solid #7777e4;
}
.stage-1-table tbody tr:nth-child(odd) {
  background-color: #1a1a1a;
}
.stage-1-table tbody tr:nth-child(even) {
  background-color: #000033;
}
.stage-1-table tbody tr:hover {
  background-color: #0000ff;
}
.stage-1-table th {
  text-align: left;
  padding: 12px 15px;
  background-color: #7777e4;
  color: #111111;
  border: 1px solid #0000e6;
  font-size: 1.1em;
}
.stage-1-table td {
  padding: 12px 15px;
  border: 1px solid #0000e6;
  color: #ffffff;
  font-size: 1em;
}
@media (max-width: 768px) {
  .stage-1-table th,
  .stage-1-table td {
    padding: 8px 10px;
    font-size: 0.9em;
  }
}
@media (max-width: 480px) {
  .stage-1-table th,
  .stage-1-table td {
    padding: 6px 8px;
    font-size: 0.8em;
  }
}
.stage-1-table tr,
.stage-1-table th,
.stage-1-table td {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}/*# sourceMappingURL=style.css.map */